.our {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 62px;
  white-space: nowrap;
}
.our-wrapper {
  flex: 0.7753;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-lexend);
}
.home {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 47px;
}
.navigation-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xl) 0 0;
}
.about-us {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 71px;
  white-space: nowrap;
}
.navigation-links1 {
  flex: 0.8875;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 9px 0 0;
}
.our-master {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 88px;
  white-space: nowrap;
}
.navigation-links2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.menu {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 42px;
}
.navigation-items {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-xl) 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.contact-us {
  position: relative;
  line-height: 26px;
  display: inline-block;
  min-width: 83px;
  white-space: nowrap;
}
.frame-container,
.navigation-items1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-items1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  font-size: var(--font-size-base);
}
.frame-container {
  width: 627px;
  flex-direction: row;
  gap: 30px;
  max-width: 100%;
}
.sign-in {
  position: relative;
  font-size: 21px;
  line-height: 29px;
  font-family: var(--font-manrope);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  min-width: 65px;
  white-space: nowrap;
}
.auth-parent,
.button-19 {
  display: flex;
  align-items: flex-start;
}
.button-19 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) 26px var(--padding-2xs) var(--padding-8xl);
  background-color: var(--color-white);
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.button-19:hover {
  background-color: var(--color-gainsboro);
}
.auth-parent {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
}
.join-us {
  position: relative;
  font-size: 18px;
  line-height: 25px;
  font-family: var(--font-manrope);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 58px;
  white-space: nowrap;
}
.button-18,
.container-2 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button-18 {
  cursor: pointer;
  border: 1px solid var(--color-white);
  padding: 13px 51px;
  background-color: #151515;
  overflow: hidden;
  align-items: flex-start;
  white-space: nowrap;
  margin-left: -1px;
}
.button-18:hover {
  background-color: #474747;
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.container-2 {
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12), 0 0 1px rgba(23, 26, 31, 0.07);
  background-color: #fffeff;
  align-items: flex-end;
  padding: 0 var(--padding-12xs) var(--padding-12xs) 2px;
}
.frame-group,
.frame-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-group {
  width: 1020px;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}
.frame-wrapper {
  width: 1376px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mid);
  color: var(--color-gray-100);
  font-family: var(--font-manrope);
}
.hero-overlay,
.margarita-cherniak-dicri11ku1m-icon {
  width: calc(100% - 43px);
  position: absolute;
  margin: 0 !important;
  right: 43px;
  bottom: 0;
  left: 0;
}
.margarita-cherniak-dicri11ku1m-icon {
  height: 613px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.hero-overlay {
  height: 100%;
  top: 0;
  background-color: rgba(63, 58, 58, 0.47);
  z-index: 1;
}
.welcome-tomastersbrew {
  margin: 0;
  width: 1074px;
  height: 63px;
  position: relative;
  font-size: inherit;
  line-height: 70px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.h1,
.p,
.p1,
.p2 {
  margin: 0;
}
.h1 {
  height: 249px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.hero-description {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-13xl);
}
.hero-content,
.menu-column-titles {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 72px var(--padding-103xl) 181px 143px;
  box-sizing: border-box;
  gap: 56px;
}
.menu-column-titles {
  height: 256px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.b,
.div {
  position: relative;
  display: inline-block;
}
.b {
  line-height: 28px;
  min-width: 80px;
}
.div {
  width: 344px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-noto-serif-jp);
  color: var(--color-darkslategray-100);
  max-height: 48px;
  word-break: break-word;
}
.menu-item-details,
.menu-items {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.menu-item-details {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.menu-items {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 16px 0 var(--padding-5xl);
  box-sizing: border-box;
}
.frame-icon,
.menu-columns {
  max-width: 100%;
  overflow: hidden;
}
.menu-columns {
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 0 0#000, 0 0 0#000;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.frame-icon {
  align-self: stretch;
  height: 256px;
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
}
.b1,
.div1 {
  position: relative;
  line-height: 28px;
}
.div1 {
  width: 346px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-noto-serif-jp);
  color: var(--color-darkslategray-100);
  display: inline-block;
  max-height: 48px;
  word-break: break-word;
}
.menu-columns-inner,
.parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.menu-columns-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-sm) 0 var(--padding-5xl);
  box-sizing: border-box;
}
.frame-icon1,
.menu-columns1 {
  max-width: 100%;
  overflow: hidden;
}
.menu-columns1 {
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 0 0#000, 0 0 0#000;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.frame-icon1 {
  align-self: stretch;
  height: 256px;
  position: relative;
  flex-shrink: 0;
  object-fit: cover;
}
.b2,
.div2 {
  position: relative;
  display: inline-block;
}
.b2 {
  line-height: 28px;
  min-width: 60px;
}
.div2 {
  width: 346px;
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-noto-serif-jp);
  color: var(--color-darkslategray-100);
  max-height: 48px;
  word-break: break-word;
}
.group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  max-width: 100%;
}
.menu-columns-child,
.menu-columns2 {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.menu-columns-child {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-sm) 0 var(--padding-5xl);
}
.menu-columns2 {
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 0 0#000, 0 0 0#000;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  gap: var(--gap-base);
}
.h11 {
  margin: 0 !important;
  height: 60px;
  width: 810px;
  position: absolute;
  top: -11px;
  right: 251px;
  font-size: var(--font-size-29xl);
  line-height: 30px;
  font-weight: 700;
  font-family: var(--font-lexend);
  text-align: center;
  display: inline-block;
  z-index: 1;
}
.menu-container {
  width: 1313px;
  background-color: var(--color-white);
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-43xl) 48px var(--padding-43xl) 49px;
  box-sizing: border-box;
  position: relative;
  gap: 32px;
  max-width: 100%;
  grid-template-columns: repeat(3, minmax(288px, 1fr));
}
.unsplashjrpxc8vgqco-icon {
  width: 368px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-width: 100%;
}
.h12,
.p3,
.p4,
.p5,
.p6 {
  margin: 0;
}
.h12 {
  width: 949px;
  height: 294px;
  position: relative;
  font-size: inherit;
  line-height: 50px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: bf4bc93;
  max-height: 294px;
  word-break: break-word;
}
.coffee-content,
.coffee-content-wrapper,
.wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.wrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: 120px 0 0;
  box-sizing: border-box;
  min-width: 949px;
}
.coffee-content,
.coffee-content-wrapper {
  flex-direction: row;
}
.coffee-content {
  justify-content: flex-start;
  gap: 14px;
}
.coffee-content-wrapper {
  align-self: stretch;
  justify-content: flex-end;
  font-size: 40px;
  font-family: var(--font-lexend);
}
.frame-parent,
.menu-content,
.menu-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.menu-content {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.frame-parent,
.menu-content-wrapper {
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
}
.menu-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
.frame-parent {
  width: 1417px;
  flex-direction: column;
  gap: 67px;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-lexend);
}
.h13 {
  margin: 0 !important;
  height: 52px;
  width: 545px;
  position: absolute;
  bottom: -24px;
  left: 19.8px;
  font-size: inherit;
  line-height: 28px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.frame-icon2 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.address-content {
  margin-left: -0.2000000000007276px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-12xs) var(--padding-12xs);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.coffee {
  margin: 0 !important;
  height: 105px;
  width: 462px;
  position: absolute;
  top: -85px;
  left: -57.2px;
  font-size: 64px;
  line-height: 40px;
  font-weight: 700;
  font-family: var(--font-roboto);
  display: inline-block;
  z-index: 1;
}
.frame {
  width: 1234.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.div3 {
  height: 78px;
  width: 464px;
  position: absolute;
  margin: 0 !important;
  bottom: -50px;
  left: 19.8px;
  line-height: 28px;
  display: inline-block;
}
.footer-item-content {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.footer-column-items,
.footer-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.footer-column-items {
  flex: 1;
  padding: var(--padding-6xs) var(--padding-12xs) var(--padding-12xs);
  position: relative;
}
.footer-top {
  width: 1234.6px;
  padding: 0 0 4px;
}
.open-700 {
  height: 52px;
  width: 687px;
  position: absolute;
  margin: 0 !important;
  bottom: -24px;
  left: 19.8px;
  line-height: 28px;
  display: inline-block;
  white-space: nowrap;
}
.frame-icon3 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.footer-top1,
.frame1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame1 {
  flex: 1;
  padding: var(--padding-6xs) var(--padding-12xs) var(--padding-12xs);
  position: relative;
}
.footer-top1 {
  width: 1234.6px;
  padding: 0 0 var(--padding-7xs);
}
.h14 {
  margin: 0 !important;
  height: 52px;
  width: 286px;
  position: absolute;
  bottom: -24px;
  left: 19.8px;
  font-size: inherit;
  line-height: 28px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.frame-icon4 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.footer,
.frame2 {
  box-sizing: border-box;
  max-width: 100%;
}
.frame2 {
  width: 1234.6px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-12xs) var(--padding-12xs);
  position: relative;
}
.footer {
  margin-right: -3px;
  align-self: stretch;
  background-color: var(--color-black);
  flex-direction: column;
  align-items: center;
  padding: 144px var(--padding-xl) var(--padding-103xl);
  gap: var(--gap-lg);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-noto-sans-jp);
}
.conversion-output,
.footer,
.root {
  display: flex;
  justify-content: flex-start;
}
.conversion-output {
  flex: 1;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-8xl) 0 0;
  box-sizing: border-box;
  gap: 94px;
  max-width: 100%;
}
.root {
  width: 100%;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1300px) {
  .hero-content {
    padding-left: 71px;
    padding-right: 61px;
    box-sizing: border-box;
  }
  .menu-container {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .unsplashjrpxc8vgqco-icon,
  .wrapper {
    flex: 1;
  }
  .coffee-content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .menu-container {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(288px, 499px));
  }
  .wrapper {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .welcome-tomastersbrew {
    font-size: var(--font-size-19xl);
    line-height: 56px;
  }
  .h1 {
    font-size: 26px;
    line-height: 40px;
  }
  .hero-content {
    gap: 28px;
    padding: 47px 30px 118px 35px;
    box-sizing: border-box;
  }
  .h11 {
    font-size: var(--font-size-19xl);
    line-height: 24px;
  }
  .menu-container {
    gap: var(--gap-base);
    padding-top: var(--padding-21xl);
    padding-bottom: var(--padding-21xl);
    box-sizing: border-box;
    grid-template-columns: minmax(288px, 1fr);
  }
  .h12 {
    font-size: var(--font-size-13xl);
    line-height: 40px;
  }
  .frame-parent {
    gap: 33px;
  }
  .h13 {
    font-size: var(--font-size-10xl);
    line-height: 22px;
  }
  .coffee {
    font-size: 51px;
    line-height: 32px;
  }
  .div3,
  .h14,
  .open-700 {
    font-size: var(--font-size-10xl);
    line-height: 22px;
  }
  .conversion-output {
    gap: 47px;
  }
}
@media screen and (max-width: 450px) {
  .welcome-tomastersbrew {
    font-size: var(--font-size-10xl);
    line-height: 42px;
  }
  .h1 {
    font-size: 19px;
    line-height: 30px;
  }
  .b,
  .b1,
  .b2 {
    font-size: var(--font-size-base);
    line-height: 22px;
  }
  .h11 {
    font-size: var(--font-size-10xl);
    line-height: 18px;
  }
  .h12 {
    font-size: 24px;
    line-height: 30px;
  }
  .wrapper {
    padding-top: 78px;
    box-sizing: border-box;
  }
  .frame-parent {
    gap: 17px;
  }
  .h13 {
    font-size: var(--font-size-3xl);
    line-height: 17px;
  }
  .coffee {
    font-size: var(--font-size-19xl);
    line-height: 24px;
  }
  .div3,
  .h14,
  .open-700 {
    font-size: var(--font-size-3xl);
    line-height: 17px;
  }
  .footer {
    padding-top: 94px;
    padding-bottom: 79px;
    box-sizing: border-box;
  }
  .conversion-output {
    gap: 23px;
  }
}
